.services{
    text-align: center;
}
.services .subtitle{
    max-width: 60%;
    margin: 0 auto;
}
.services .card-section{
    display: flex;
    justify-content: space-between;
    margin: 50px 0 100px;
}
.services .btn{
    padding: 20px 45px;
    font-size: 28px;
    font-weight: 900;
}
.services .card{
    flex-wrap: nowrap;
    padding: 30px;
    background: #F0F7F9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 0 45px 10px;
    min-width: 300px;
}
.services .card p{
    text-align: left;
}
.services .card p ul{
    margin: 5px 0;
    text-align: left;
    padding-left: 20px;
}
@media screen and (max-width: 1260px){
    .services .card-section{
        overflow-x: scroll;
    }
}
@media screen and (max-width: 960px){

    .services .card{
        padding: 15px;
        min-width: 195px;
    }
    .services .card p{
        font-size: 14px;
        line-height: 21px;
    }
    .services .btn{
        font-size: 20px;
    }
}
@media screen and (max-width: 760px){
    .services .btn{
        font-size: 14px;
        padding: 14px 20px;
    }
}
