.faq{
    margin-top: 150px;
}
.faq .faq-title{
    display: flex;
    justify-content: space-around;
}
.faq .faq-title h4{
    text-align: left;
    margin-bottom: 5px;
    color: #173FCD;
    text-transform: uppercase;
    font-weight: 300;
}
.faq .faq-title .title {
    max-width: 35%;
}
.faq .faq-title img{
    max-width: 50%;
    margin-bottom: 20px;
}
.faq .faq-card{
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    padding: 30px;
    border-radius: 5px;
}
.faq .card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 70px 50px;
}
.faq .card-title h4{
    max-width: 50%;
}
.faq .faq-footer{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background: #ECECEC;
    margin: 0 -30px -30px;

}
.faq .faq-about{
    max-width: 40%;
}
.faq .status{
    display: flex;
    align-items: center;
}
.faq .status-logo{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: block;
    margin-right: 10px;
}
.faq .faq-help{
    margin-right: 50px;
}
.faq .mobile{
    display: none;
}
@media screen and (max-width: 960px){
    .faq .faq-title{
        flex-direction: column;
    }
    .faq .faq-title img{
        max-width: 70%;
        width: 100%;
        margin: 0 auto 20px;
    }
    .faq .faq-title .title {
        max-width: 100%;
    }
    .faq .card-title{
        margin: 0 0 10px;
    }
    .faq .card-description p{
        font-size: 20px;
        line-height: 30px;
    }
    .faq .faq-footer h3{
        font-size: 24px;
    }
    .faq .faq-help{
        margin: 0;
    }
}

@media screen and (max-width: 760px) {
    .faq{
        margin-top: 60px;
    }
    .faq .card-title h4, .faq .faq-title .title{
        display: none;
    }
    .faq .mobile{
        display: block;
        text-align: center;
    }
    .faq .card-description p{
        font-size: 14px;
        line-height: 18px;
    }
    .faq .faq-card{
        padding: 10px;
    }
    .faq .faq-footer{
        padding: 10px 30px;
        margin: 0 -10px -10px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .faq .faq-about{
        max-width: 100%;
    }
    .faq .faq-footer .faq-availability{
        margin: 20px 0;
    }
    .faq .faq-footer h3{
        font-size: 12px;
        margin-bottom: 10px;
        line-height: 10px;
        font-weight: bold;
    }
    .faq .faq-footer p, .faq .faq-footer .status{
        font-size: 10px;
        line-height: 12px;
    }
    .faq .status-logo{
        width: 15px;
        height: 15px;
    }
    .faq .btn{
        font-size: 10px;
    }

}