.events{
    text-align: center;
    margin: 50px auto;
}
.events .card {
    border-radius: 5px;
    max-width: 310px;
    min-width: 300px;
    width: 100%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #F0F7F9;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 40px 10px;
    text-decoration: none;
    font-weight: 900;
}
.events .card-description{
    color: #2E3C70;
    text-align: left;
    width: 100%;
}
.events .cards-event{
    display: flex;
}
.events .card-preview{
    position: relative;
    line-height: 0;
}
.events .card-img{
    width: 100%;
    height: auto;
}
.events .position-icon{
    position: absolute;
    top: 10px;
    width: 40px;
    left: 20px;
    height: 35px;
}
.events .position-text{
    position: absolute;
    color: white;
    top: 20px;
    left: 70px;
    line-height: 20px;
    text-align: left;
}
.events .date{
    position: absolute;
    color: white;
    bottom: 20px;
    left: 20px;
}
.events .card-body{
    min-height: 250px;
    height: 100%;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.events .card-body .btn{
    margin-top: 10px;
}
.events .subtitle{
    max-width: 70%;
    margin: 0 auto 80px;
}
@media screen and (max-width: 1260px){
    .events .cards-event{
        overflow-x: scroll;
    }
}

@media screen and (max-width: 960px){
    .events .card{
        min-width: 195px;
    }
    .events .card-description{
        font-size: 16px;
    }
    .events .card-body .btn{
        padding: 5px 15px;
    }
}
