.companies-list{
    text-align: center;
}
.companies-list .title{
    color: black;
    max-width: 50%;
    margin: 0 auto 50px;
}
.companies-list .logo-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}
.companies-list .logo-list img{
    margin-top: 40px;
}
@media screen and (max-width: 760px){
    .companies-list .title{
        max-width: 90%;
    }
}