#pewl{
    max-width: 1300px;
    margin: 100px auto;
}
.trustpilot .subtitle{
    max-width: 70%;
    margin: 0 auto 80px;
}
.trustpilot p, .trustpilot h2{
    text-align: center;
}

@media screen and (max-width: 760px) {
    #pew{
        margin: 50px auto;
    }
}