.about-wrapper{
    max-width: 840px;
    margin: 0 auto;
    position: relative;
}
.about{
    position: absolute;
    top: -140px;
    background: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 30px;
}
.about .about-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about .profile{
    display: flex;
}
.about .profile-position{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}
.about .profile-position h2{
    margin-bottom: 5px;
}

.about .btn{
    padding: 20px 50px;
}
.about .about-description{
    margin: 0 15px;
}