.about-wrapper{

}
.about{
    margin: 0 auto;
    position: relative;
    top: -40px;
    background: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 30px 80px 190px;
}
.about .about-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile{
    display: flex;
}
.profile .profile-position{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}
.profile .profile-position h1{
    margin-bottom: 5px;
}
.profile .profile-img{
    border-radius: 50%;
}
.about .btn{
    padding: 20px 50px;

}
.about .about-description{
    margin: 0 15px;
}