.header{
    width: 100%;
    height: 100px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: fixed;
    z-index: 99999999999999;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.header .logo{
    max-width: 200px;
    max-height: 70px;
    margin-right: 20px;
}
.header .linkedin{
    max-height: 50px;
    max-width: 190px;
}
.header .logoWrapper{
    display: flex;
    align-items: center;
}
.header .btn{
    min-width: 255px;
    min-height: 54px;
}