.header{
    width: calc(100% - 40px);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99999999999999;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.header .logo img{
    width: auto;
    height: 70px;
}
.header .linkedin img{
    height: 50px;
    width: auto;
}
.header .linkedin,
.header .logo{
    line-height: 0;
    margin-right: 20px;
}
.header .logoWrapper{
    display: flex;
    align-items: center;
}
.header .btn{
    padding: 10px 30px;
}
@media screen and (max-width: 760px){
    .header{
        padding: 10px;
    }
    .header .logo img{
        height: auto;
        max-height: 42px;
    }
    .header .linkedin img{
        height: auto;
        max-height: 30px;
    }
    .header .btn{
        padding: 10px 15px;
        min-width: 130px;
        font-size: 12px;
        white-space: nowrap;
    }
    .header .linkedin,
    .header .logo{
        margin-right: 10px;
    }
}