.footer{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    border-top: 1px solid black;
    padding: 60px 0 50px;
}
.footer h4{
    text-transform: uppercase;
    margin-bottom: 15px;
}
.footer .projects ul, .footer .legal ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer .projects ul li, .footer .legal ul li{
    margin: 0 0 5px 0;
}
.footer .projects ul li:hover, .footer .legal ul li:hover{
    text-decoration: underline;
}
.footer .projects a, .footer .legal a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.footer .media-socials{
    text-align: center;
}
.footer .media-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer .media-icons a{
    font-size: 30px;
    color: #1f3b73;
    padding: 3px;
    border-radius: 50%;
    border: 3px solid #1f3b73;
    background-color: #ECECEC;
    width: 55px;
    height: 55px;
}
.footer .media-icons a:hover{
    background-color: rgba(121, 121, 121, 0.61);
}
.footer .media-icons a:not(:last-of-type){
    margin-right: 40px;
}
.footer-menu{
    display: flex;
    width: 30%;
    justify-content: space-between;
}
.footer-logo{
    display: block;
    margin-bottom: 30px;
}
.flags a{
    width: 40px;
    height: 40px;
}
.flags img:hover{
    transform: scale(1.2);
}
.flags a:first-child{
    margin-right: 20px;
}
.logo-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flags{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #173FCD;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 5px 20px;
}
.disable{
    opacity: 0.3;
}

@media screen and (max-width: 960px) {
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .footer-menu{
        width: 100%;
        justify-content: space-around;
        margin: 20px 0;
    }
    .footer .projects h4, .footer .legal h4{
        margin-bottom: 5px;
    }
}