/*@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');*/
@font-face {
    font-family: "Poppins-Black";
    src: url("../assets/fonts/Poppins-Black.ttf") ;
    font-weight: 900;

}
@font-face {
    font-family: "Poppins-Regular";
    src: url("../assets/fonts/Poppins-Regular.ttf") ;
    font-weight: normal;
}
@font-face {
    font-family: "Poppins-Bold";
    src: url("../assets/fonts/Poppins-Bold.ttf");
    font-weight: bold;
}

html{
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
img{
    height: auto;
    max-width: 100%;

}
h1 {
  font-weight: 900;
  margin-bottom: 1.45rem;
  font-size: 48px;
  line-height: 1.1;
}
h2 {
  margin-bottom: 1.45rem;
  font-size: 38px;
  line-height: 42px;
  margin-top: 0;
  font-weight: 900;
}
h3 {
    font-size: 28px;
    line-height: 30px;
    font-weight: 900;
    margin-top: 0;
}
h4{
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}

p {
  font-size: 20px;
  line-height: 30px;
}
.btn{
    background: #173FCD;
    border-radius: 15px;
    color: white;
    border: none;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 30px;
    cursor: pointer;
}
.btn:hover{
    background: #0c00cd;
}
.wrapper{
    max-width: 1160px;
    margin: 0 auto 80px;
    width: 90%;
}
.big-wrapper{
    max-width: 1300px;
    margin: 0 auto;
    width: 90%;
}
.btn.white{
    color: #173FCD;
    background-color: white;
}
.btn.white-with-border{
    color: #173FCD;
    background-color: white;
    border: 3px solid #173FCD;
    border-radius: 15px;
}
.btn.white:hover, .btn.white-with-border:hover{
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.scrollbar::-webkit-scrollbar {
    display: none;
}

@media  screen and (max-width: 1260px) {
    .btn{
        font-size: 16px;
        border-radius: 15px;
    }
}
@media  screen and (max-width: 760px) {
    .btn{
        font-size: 14px;
        border-radius: 15px;
    }
}